<h1>Sign up a user</h1>

<%= render 'form', user: @user, type: 'new' %>


<!-- 
<form action="<%= users_url %>" method="POST"> 
    <label>Username:
        <input type="text" name="user[username]" value="<%= @user.username %>">
    </label>

    <label>Age:
        <input type="text" name="user[age]" value="<%= @user.age %>">
    </label>

    <label>Email:
        <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>

    <input type="submit" value="Create User">
</form>
-->