<!DOCTYPE html>
<html>
  <head>
    <title>Bluebird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# loads all of our css files from assets/stylesheets %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# loads all of our js files from assets/javascripts %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
